.card {
    border: 1px solid #666;
    width: 180px;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}

.card__name {
    margin: 2px;
    text-align: center;
}

.card__text {
    margin: 2px;
}

.card__controls__button {
    width: 80px;
    margin: 4px;
}

.card__controls__button--edit {
    background-color: #5BC0DE;
}

.card__controls__button--remove {
    background-color: #D9534F;
}