label{
    display: block;
}
.inline-block {
    display: inline-block;
}

.checkbox--utility {
    width: 0;
    height: 0;
    opacity: 0;
}

.margin-left {
    margin-left: 1rem;
}

.margin-left-s {
    margin-left: 0.3rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-bottom-l {
    margin-bottom: 20rem;
}

.no-margin {
    margin: 0;
}

.padding-bottom {
    padding-bottom: 3rem;
}

.bold-less-emp {
    font-weight: 600;
    color: #666;
}

.aside__price-text{
    padding: 0 2em;
    align-self: stretch;
}

.aside__price-text__price {
    float: right;
    font-weight: 600;
}

.no-display{
    display: none !important;
}

.center {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.flex-self-center {
    align-self: center;
}